[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
openai = "*"
py-cord = "*"
pynacl = "*"
pydub = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
